:root {
    --red-gradiant: linear-gradient(150deg, hsl(354, 64%, 49%) 15%, hsl(4, 85%, 58%) 70%, hsl(346, 100%, 63%) 94%);
    --extra-dark-cool-grey: hsl(209, 15%, 14%);
    --dark-cool-grey: hsl(209, 15%, 30%);
    --med-cool-grey: hsl(209, 15%, 50%);
    --primary-red: hsl(358, 85%, 53%);
}